/* Define the global or root variables*/
:root{
    --primaryColor:#213555;
    --backgroundColor:#F5EFE7;
    --primaryAccentColor:#4F709C;
    --secondaryColor:#D8C4B6;
    --whiteColor:white;
    --blackcolor:#222222;
    --primaryFont:"Open Sans",sans-serif;
    --navbarHeight:3rem;
    --cursiveFont:'Neucha&family',cursive;
    --cursivefont: 'Pacifico&family', newcursive;
    --secondaryfont: 'Kablammo&family', cursive;
}

/* main css*/
body{
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px ;
    margin-right: 0px;
    
}

a{
    text-decoration: none;
    color: var(--primaryColor);
}

.navigation{
    background-color: var(--whiteColor);
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 3px 4px grey); 
    
}

.logo{
    display: flex;
    padding-left: 20px;
    width: 12rem;
    align-items: center;
    


}

.logoImage{
    height: 2rem;
    /* float: left; */
    padding: 8px;
}

.contactImage{
    height: 2rem;
    padding: 10px;
    margin-right: -10px;
    margin-top: 10px;
}

.contactnumber{
    font-size: 12px;
    padding: 20px;
}

.menuitems{
    flex-grow: 2;
}

.menuitem{
    margin-left: 20px;
}


.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(45deg,var(--secondaryColor),var(--primaryAccentColor));
  filter: drop-shadow(0px 3px 4px grey); 
  font-family: var(--cursiveFont);
  justify-content: space-around;
  align-items:center;
  padding: 20px;
}

.bannerleft{
    width: 50%;
    /* margin-left: 100px; */
}

.bannerimage{
    height: 470px;
    margin-left: 250px;
    /* width: 200px; */
    margin-bottom: -22px;
}

.gretting{
    font-size: 1.25rem;
}
.title{
    font-size: 2rem;
    color: white;

}

.titlespan{
    display: inline-block;
    background-color: var(--primaryColor);
    padding: 0.5rem;
    margin: 5px 0px;
}

.description{
    line-height: 2rem;
    margin: 30px 0px;
    
}

.showCVbutton{
    background: linear-gradient(white,rgb(205,205,205),rgb(215,215,215));
    padding: 10px 15px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 3px grey);
}

.showCVbutton:hover{
    background: linear-gradient(white,rgb(215,215,215));

}

.contact{
    display: flex;
}

.serviceText{
    text-align: center;
    text-transform: uppercase;
}

.services{
    margin: 5rem ;
    
}

.textSubHeading{

    color: var(--primaryAccentColor);
    font-size: 1.25rem;
    letter-spacing: 0.4rem;
}

.textHeading{

    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--secondaryfont);
}

.serviceCards{
    margin-top: 30px;
    display: flex;
}

.serviceCard{
    border: 2px solid grey;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 2px black);
    margin: 15px;
    padding: 40px;
    background-color: rgb(218, 211, 219);
}

.serviceCard:hover{
    filter: drop-shadow(3px 3px 8px grey);
    border: none;
}

.serviceIconDiv{
    background-color: var(--primaryColor);
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.serviceIcon{
    font-size: 2rem;
    color: white;
}

.serviceTitle{
    font-size: 1.75rem;
    margin: 20px 0px;
}

.serviceFeature{
    font-size: 1rem;
    margin: 10px 0px;
}

.serviceFeatureIcon{
    font-size: 0.75rem;
    color: navy;
}
